body {
    background: repeating-radial-gradient(circle, magenta, cyan 15%); 
    background-attachment: fixed;
}

h1 {
    font-size: 50px;
    font-family: "Impact";
    text-align: center;
    color: magenta;
    outline-color: black;
    font-family: "Impact";
    background-color: aqua;
    margin: 1%;
    border-radius: 50px;
    resize: 640px;
}

#rickroll{
    margin: auto;
    display: block;
}

#lyrics {
    text-align: center;
    color: cyan;
    background-color: magenta;
    margin: 1%;
    border-radius: 50px;
}
